body {
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    background: white;
    padding: 30px;
    margin: 80px auto;
    border-radius: 10px;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #667eea;
    color: white;
    padding: 10px;
    border: none;
    width: 95%;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}
